<% layout('./layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">Add New Job</h1>
  <div class="col-6 offset-3">
    <form action="/admin/AllJobs/" method="POST" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label" for="title">Position</label>
        <input
          class="form-control"
          type="text"
          name="AllJob[position]"
          id="title"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          name="AllJob[location]"
          id="location"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label" for="price">Payment</label>
        <div class="input-group">
            <span class="input-group-text" id="payment-label">Rs</span>
            <input type="text" class="form-control" id="payment" placeholder="0.00" aria-label="payment"
                aria-describedby="payment-label" name="AllJob[payment]" required>
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
    </div>

      <div class="mb-3">
        <label class="form-label" for="skills">Skills Required</label>
        <input
          class="form-control"
          type="text"
          name="AllJob[skills]"
          id="skills"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="experience">Experience Required</label>
        <input
          class="form-control"
          type="text"
          name="AllJob[experience]"
          id="experience"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="eligibility">Eligibllity Required</label>
        <input
          class="form-control"
          type="text"
          name="AllJob[eligibility]"
          id="eligibility"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label" for="businessHR">Business HR</label>
        <input
          class="form-control"
          type="text"
          name="AllJob[businessHR]"
          id="businessHR"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>




              <div class="mb-3">
                  <label for="openingDate" class="form-label">Opening Date</label>
                      <div class="input-group date" id="datepicker1">
                          <input type="text" name="AllJob[openingDate]" class="form-control">
                          <span class="input-group-append">
                              <span class="input-group-text bg-white d-block">
                                  <i class="fa fa-calendar"></i>
                              </span>
                          </span>
                      </div>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
              </div>



              <div class="mb-3">
                <label for="openingDate" class="form-label">Closing Date</label>
                    <div class="input-group date" id="datepicker2">
                        <input type="text" class="form-control" name="AllJob[closingDate]">
                        <span class="input-group-append">
                            <span class="input-group-text bg-white d-block">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                    </div>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
            </div>



            <div class="mb-3">
              <label class="form-label" for="description">Description</label>
              <textarea
                class="form-control"
                type="text"
                id="description"
                name="AllJob[description]"
                required
              ></textarea>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

      <div class="mb-3">
        <button class="btn btn-success">Add Job</button>
    </form>
  </div>
<a href="/admin/AllJobs">Back To All Jobs</a>
</div>



