<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewp ort" content="width=device-width, initial-scale=1.0" />
    <title>Apply for Job</title>
  </head>
  <body>
    <form action="/AllJobs/<%=job._id %>?_method=PUT" method="POST">
      <div>
        <label for="title">Title</label>
        <input
          type="text"
          name="AllJob[title]"
          id="title"
          value="<%= job.title %>"
        />
      </div>
      <div>
        <label for="location">Location</label>
        <input
          type="text"
          name="AllJob[location]"
          id="location"
          value="<%= job.location %>"
        />
      </div>
      <button>Submit</button>
    </form>
    <a href="/AllJobs">Back To All Jobs</a>
  </body>
</html>
